.main {
    width: 375px;
    height: 812px;
    opacity: 1px;
}

.header {
    width: 334;
    height: 35;
    padding-top: 44px;
    padding-left: 21px;
    opacity: 1px;
}

.hr {
    width: 375;
    height: 0px;
    top: 189px;
    opacity: 1;
    border-width: 1px;
    border: 1px solid #E0E0E0
}

.inst {
    font-size: 20px;
}

.header2 {
    text-align: center;
}

.headerimg {
    text-align: right;
    word-spacing: 15px;
}

.marvel1 {
align-items: center;
}

.header2 {
    word-spacing: 48px;
}

.loki {
    width: 375px;
    height: 375px;
    top: 246px;
    opacity: 1;
}

.thec {
    font-family: Roboto;
    font-weight: 500px;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.text1 {
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}
 .description {
    padding: 8px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 10fr;
    grid-template-rows: 1fr;
    gap: 20px;
    justify-content: end;
 }
 .description img:last-child {
    justify-self: end;
 }
 .imgstory {
width: 41px;
height: 41px;
opacity: 1;
top: 197px;
left: 16px;
 }
.mar {
width: 43px;
height: 16px;
opacity: 1;
top: 210px;
left: 62px;
}
.imggr3 {
text-align: right;
}